<div class="homepage">

  <h1>My tasks</h1>

  <ul class="unlisted">
    <% @tasks.each do |task| %>
      <li><%= link_to task.title, task_path(task)%></li>
    <% end %>
  </ul>

  <div>
    <i class="fa-solid fa-pen"></i>
    <%=link_to "Create a Task", new_task_path %>
  </div>

</div>
